* {
  text-align: center;
  font-family: "Nanum Gothic Coding", monospace;
}

html {
  background-color: #eee1d8;
  font-size: 16px;
}

body {
  width: 640px;
  margin: auto; /* 너비에서 남는 여백을 동일하게 분배 */
}

h1 {
  font-size: 48px;
}

img {
  width: 250px;
  height: 250px;
  border-radius: 125px;
  border: 10px solid rgb(0, 170, 255);
}

p {
  font-size: 1.2em;
}

header,main {
  padding: 20px;
  border: 1px solid #eee1d8(137, 137, 137);
  border-radius: 25px;
  margin-top: 25px;
  background-color: rgb(225, 225, 225);
  box-shadow: 0px 0px 10px 1px rgb(136, 136, 136);
}
header img{
  margin-bottom: 50px;
}

