* {
  font-family: Arial, Helvetica, sans-serif;
}
html {
  height: 100%;
}
body {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(149, 149, 149);
  box-sizing: border-box;
}

.Chat-container {
  width: 300px;
  box-shadow: 0 0 10px 1px rgb(90, 90, 90);
}
.header {
  background-color: rgb(40, 89, 131);
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top-left-radius:5px ;
  border-top-right-radius:5px ;
}
.header p{
  text-align: center;
  color: white;
}

.main-chat {
  height: 500px;
  background-color: rgb(89, 135, 203);
}

.chat-form {
  height: 50px;
  background-color: aliceblue;
  display: flex;
  align-items: center;
  border-bottom-right-radius:5px ;
  border-bottom-left-radius:5px ;
}
.form {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 0 10px;
}
.form textarea{
  box-sizing: border-box;
  flex: 1;
  height: 30px;
  resize: none;
  border-radius: 3px;
  display: flex;
  align-items: center;
  padding:6px;
  border: 1px solid rgb(215, 241, 255);
}
.form input {
  width: 50px;
  height: 32px;
  border: none;
  background-color: rgb(83, 132, 224);
  color: white;
  border-radius: 3px;
}
.form input:active {
  background-color: rgb(0, 146, 251);
}